* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 0;
  padding-top: 100px;
  position: relative;
  background: #a6a17a;
  background: -moz-linear-gradient(top, #6d6c17 0%, #b87c0e 50%, #827a20 100%);
}

p {
  font-size: 1.1rem;
}

/* START SCREEN  */

#gameAudio {
  margin-bottom: 500px;
  visibility: hidden;
}

#game-title {
  position: absolute;
  margin-bottom: 250px;
}

#start-screen {
  background-image: url("../assets/afrikanische-savanne-bei-sonnenuntergang-1.png");
  width: 1095px;
  height: 630px;
  display: flex;
  margin: auto;
  justify-content: center;
  background-size: cover;
  border-radius: 18px;
  border: rgb(253, 200, 8) solid 5px;
}

#start-screen-content-container {
  border-radius: 24px;
  display: inline;
  position: absolute;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 300px;
  height: 100px;
  margin-top: 200px;
}

.title-area {
  width: 400px;
  position: absolute;
  margin-top: 520px;
  margin-bottom: 70px;
  text-align: center;
  line-height: 25px;
}

#game-space {
  background-image: url("../assets/main-background-far.png");
  background-size: cover;
  width: 1095px;
  height: 630px;
  border-radius: 18px;
  border: rgb(253, 200, 8) solid 9px;
  position: relative;
  overflow: hidden;
  user-select: none;
}

/*  Buttons */

#start-btn {
  margin-top: 70px;
  background-color: rgb(169, 6, 6);
  width: 120px;
  height: 50px;
  border-radius: 10px;
}
#start-btn:hover {
  border: white, solid, 1px;
}

button {
  margin-top: 20px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: rgb(225, 155, 111), solid, 1px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(87, 37, 6, 5);
  /* box-shadow: 2px 2px 7px 1px #714700; */
}
button:hover {
  border: white, solid, 1px;
}
button > p {
  font-size: 15px;
}

/*  container */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#gameplay-screen,
#game-over-screen {
  position: relative;
  display: none;
}

/* GAME SCREEN */
#gameplay-screen {
  position: relative;
}

.rate-banner {
  width: 1000px;
  padding: 8px;
}

#count-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(173, 148, 3, 0.3);
  width: 1000px;
  height: 80px;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 5px 1.5px 25px 0.2px #000000;
  margin: 24px;
  border: rgb(255, 255, 255), solid, 2px;
}

#timer {
  width: 120px;
  height: 80px;
  display: flex;
  background-color: rgba(195, 144, 34, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: rgb(255, 255, 255), solid, 3px;
}

#bonus-hud {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 80px;
  background-color: rgba(195, 144, 34, 0.7);
  border-radius: 30px;
  border: rgb(255, 255, 255), solid, 3px;
}

/* GAME SCREEN */
#game-over-screen {
  background-image: url("../assets/gameover-screen.png");
  background-size: cover;
  width: 1095px;
  height: 630px;
  border-radius: 18px;
  border: rgb(253, 200, 8) solid 5px;
  position: relative;
  overflow: hidden;
  user-select: none;
  margin: auto;
}

#try-again-btn {
  margin-top: 400px;
}
